<h1>Listing artists</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Rating</th>
      <th>Tip</th>
      <th>Review</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.artist %></td>
        <td><%= artist.rating %></td>
        <td><%= artist.tip %></td>
        <td><%= artist.review %></td>
        <td><%= artist.genre %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
